<h1>Iniciar sesión</h1>

<hr>

<form action="/iniciar-sesion" method="POST">

    Email <input type="email" name="userEmail">
    <br>
    Contraseña <input type="password" name="userPwd">
    <br>
    <input type="submit" value="ACCEDER">
</form>

<a href="/">Volver a inicio</a>